body, button, input {
  margin: 0;
  font-family: 'Bebas Neue', cursive; 
}

//main styling of buttons
button, input {
  background-color: black;
  color: white;
  border: 2px white solid;
  border-radius: 15px;
  font-size: 30px;
  padding: 20px;
  text-align: center;
}
input:hover, button:hover {
  background-color: white;
  color: black;
  border-radius: 15px;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: black;
  color: white;
  align-items: center;
}

h1 {
  font-size: 50px;
  letter-spacing: 4px;
  text-align: center;
  margin: 0;
}
h2 {
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
}

.menu, .game, .name-input, .high-scores, .rules, .game-table, .neutral, 
.bet-selection, .bet-balance-information, .custom-bet, .dealer-side, .player-side,
.end-round-popup, .round-history, .round-history-list, .round-history-list-item{
  display: flex;
  flex-direction:column;
  justify-content: center;
}


//card styling
.card {
  height: 100px;
  border-radius: 10px;
  margin: 0 2px;
  background-color: black;
  color: white;
  img {
    height: 100%;
  }
}

.reversed {
  border: 1px solid white;
  border-radius: 5px;
  width: 72px;
}

//menu screen styling
.menu {
  align-items: center;
  .menu-title {
    display:flex;
    justify-content: center;
    margin: 10px;
    color: #FFFFFF;
    background: #000000;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 10px #FFF, 0 0 15px #49ff18, 
      0 0 20px #49FF18, 0 0 25px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    font-size: 200px;
    
  }
  a {
    width: 50%;
  }
  .menu-item {
    width: 100%;
    background: none;
    font-size: 40px;
    margin: 10px;
    padding: 1.5rem;
    color: white;
  }
  .menu-item:hover {
    background-color: white;
    color: black;
  }
  .reset-game {
    position: fixed;
    bottom: 10%;
    right: 5%;
    color: red;
    border-color: red;
  }
  .reset-game:hover {
    color: black;
    background-color: red;
  }
}


//bet selection styling
.bet-selection {
  min-width: 400px;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left:50%;
  padding: 20px 40px;
  background-color: black;
  border: 2px white solid;
  border-radius: 10px;   
  font-size: 30px;  
  .bet-buttons {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    input {
      width: 22%;
      margin: 2%;
      border: white solid 2px;
      border-radius: 50px;
      font-size: 30px;
      background-color: black;
      color: white;
      padding: 20px 10px;
    }
    input:hover {
      background-color: white;
      color: black;
    }
    
  }
  .custom-bet {
    margin: 20px;
    align-items: center;
    input {
      width: 100%;
    }
  }
  .bet-balance-information{
    padding: 20px;
    align-items: center;
    p {
      margin: 0;
    }
  }
  .bet-link-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    button {
      width: 140px;
    }
  }
}

.game {
  width: 100vw;
  height: 100vh;
  font-size: 30px;
  align-items: center;

  .game-table {
    max-height: 2000px;
    height: 80vh;
    max-width: 1500px;
    width: 80vw;
    border: 5px solid white;
    border-radius: 40px;
    
    hr {
      
      width:80%;
      height: 2px;
      background-color: white;
    }
    .dealer-side, .player-side {
      align-items: center;
      position: relative;
      height: 30%;     
      padding: 20px;   
      .name-points {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 5%;
        font-size: 50px;
        text-align: center;
      }
      .hand {
        display: flex;
      }
    }
    
    .neutral {
      flex-direction: row;
      height: 40%;
      align-items: center;
      justify-content: space-between;
      padding: 0 50px;
      p {
        margin: 0;
        letter-spacing: 1px;
      }
      .deck {
        position: relative;
        .card1 {
          position: relative;
          top: 0;
          left: 0;
        }
        .card2 {
          position: absolute;
          top: -2px;
          left: -3px;
        }
        .card3 {
          position: absolute;
          top: -4px;
          left: -6px;
        }
      }
      .quit-save-buttons {
        display: flex;
        a {
          margin: 0 20px;
          display: flex;
          
          button {
            width: 150px;
            height: 120px;
          }
        }
      }
    }
  }
  .hit-stand-double-buttons {
    display:flex;
    margin: 0 20px;
    justify-content: center;
    flex-wrap: wrap;

    input {
      margin: 15px;
      width: 25%;
      min-width: 180px;
      
    }
  }

  .end-round-popup {
    position: absolute;
    border: 2px white solid;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    min-width: 300px;
    width: 30%;
    min-height: 300px;
    height: 30%;
    background-color: black;
    font-size: 50px;
    button {
      margin: 10px;
    }
  }
}

//name input page styling
.name-input {
  align-items: center;
  width: 300px;
  input {
    margin: 20px;
    border: white solid 1px;
    border-radius: 5px;
    text-align: start;
  }
  .name-link-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    button {
      width: 140px;
    }
  }
}

//rules, high score, credits pages styling
.rules, .high-scores, .credits {
  font-size: 2rem;
  align-items: center;
  button {
    width: 140px;
  }
}

//footer styling
footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding: 20px;
  background-color: black;
}

//round history page styling
.round-history {
  align-items: center;
  font-size: 25px;
  .round-history-list{
    margin: 20px;
    .round-history-list-item {
      border: white solid 2px;
      border-radius: 20px;
      padding: 10px 30px;
      margin: 5px 0;
      text-align: center;
      div{
        margin: 5px 0;
      }
      .hand {
        display: flex;
        justify-content: center;
      }
    }
  }
}