body, button, input {
  margin: 0;
  font-family: 'Bebas Neue', cursive;
}

button, input {
  background-color: black;
  color: white;
  border: 2px white solid;
  border-radius: 20px;
  font-size: 30px;
  padding: 20px;
}

.app, .menu, .game, .game-table, .neutral, .bet-selection, .bet-balance-information, .custom-bet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  height: 130px;
  width: 80px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  background-color: black;
  color: white;
}

.app {
  min-height: 100vh;
  min-width: 100vw;
  background-color: black;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app .menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app .menu .menu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem;
  color: #FFFFFF;
  background: #000000;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 10px #FFF, 0 0 15px #49ff18,  0 0 20px #49FF18, 0 0 25px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  font-size: 10rem;
}

.app .menu .menu-item {
  width: 50%;
  border: 1px solid white;
  border-radius: 5px;
  background: none;
  font-size: 2rem;
  margin: 10px;
  padding: 1.5rem;
  color: white;
}

.app .menu .menu-item .new-game:hover {
  border-color: red;
}

.app .bet-selection {
  min-width: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 20px 40px;
  background-color: black;
  border: 2px white solid;
  border-radius: 10px;
  font-size: 30px;
}

.app .bet-selection .bet-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app .bet-selection .bet-buttons input {
  width: 22%;
  margin: 2%;
  border: white solid 2px;
  border-radius: 50px;
  font-size: 30px;
  background-color: black;
  color: white;
  padding: 20px 10px;
}

.app .bet-selection .bet-buttons input:hover {
  background-color: white;
  color: black;
}

.app .bet-selection .custom-bet {
  margin: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app .bet-selection .bet-balance-information {
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app .bet-selection .bet-balance-information p {
  margin: 0;
}

.app .game {
  font-size: 30px;
}

.app .game h1 {
  font-size: 50px;
  letter-spacing: 5px;
}

.app .game .game-table {
  min-height: 600px;
  height: 70vh;
  min-width: 300px;
  width: 40vw;
  border: 2px solid white;
  border-radius: 40px;
}

.app .game .game-table .dealer-side, .app .game .game-table .player-side {
  height: 30%;
  padding: 20px;
}

.app .game .game-table .dealer-side {
  border-bottom: 2px red solid;
}

.app .game .game-table .neutral {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
}

.app .game .game-table .neutral p {
  margin: 0;
  letter-spacing: 1px;
}

.app .game .game-table .neutral .deck {
  position: relative;
}

.app .game .game-table .neutral .deck .card1 {
  position: relative;
  top: 0;
  left: 0;
}

.app .game .game-table .neutral .deck .card2 {
  position: absolute;
  top: -2px;
  left: -3px;
}

.app .game .game-table .neutral .deck .card3 {
  position: absolute;
  top: -4px;
  left: -6px;
}

.app .game .game-table .player-side {
  border-top: 2px green solid;
}

.app .game .game-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.app .game .game-buttons input {
  margin: 15px;
  width: 25%;
  min-width: 180px;
}
/*# sourceMappingURL=index.css.map */