body, button, input {
  margin: 0;
  font-family: 'Bebas Neue', cursive; 
}

button, input {
  background-color: black;
  color: white;
  border: 2px white solid;
  border-radius: 20px;
  font-size: 30px;
  padding: 20px;
}



body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: black;
  color: white;
  align-items: center;
}

h1 {
  font-size: 50px;
  letter-spacing: 5px;
  text-align: center;
  margin: 0;
}

.menu, .game, .name-input, .high-scores, .rules, .game-table, .neutral, .bet-selection, .bet-balance-information, .custom-bet{
  display: flex;
  flex-direction:column;
  justify-content: center;
}


.card {
  height: 130px;
  width: 80px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  background-color: black;
  color: white;
}

.menu {
  align-items: center;
  .menu-title {
    display:flex;
    justify-content: center;
    margin: 2rem;
    color: #FFFFFF;
    background: #000000;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 10px #FFF, 0 0 15px #49ff18, 
      0 0 20px #49FF18, 0 0 25px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    font-size: 10rem;
    
  }
  a {
    width: 50%;
  }
  .menu-item {
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
    background: none;
    font-size: 2rem;
    margin: 10px;
    padding: 1.5rem;
    color: white;
    .new-game:hover {
      border-color: red;
    }

  }
}

.bet-selection {
  min-width: 400px;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left:50%;
  padding: 20px 40px;
  background-color: black;
  border: 2px white solid;
  border-radius: 10px;   
  font-size: 30px;  
  .bet-buttons {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    input {
      width: 22%;
      margin: 2%;
      border: white solid 2px;
      border-radius: 50px;
      font-size: 30px;
      background-color: black;
      color: white;
      padding: 20px 10px;
    }
    input:hover {
      background-color: white;
      color: black;
      
    }
    
  }
  .custom-bet {
    margin: 20px;
    align-items: center;

  }
  .bet-balance-information{
    padding: 20px;
    align-items: center;
    p {
      margin: 0;
    }
  }
  .bet-link-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    button {
      width: 140px;
    }
  }
}

.game {
  font-size: 30px;

  
  .game-table {
    min-height: 600px;
    height: 70vh;
    min-width: 300px;
    width: 40vw;
    border: 2px solid white;
    border-radius: 40px;
    
    .dealer-side, .player-side {
      height: 30%;     
      padding: 20px;   
    }
    .dealer-side {
      border-bottom: 2px red solid;
    }
    .neutral {
      flex-direction: row;
      height: 40%;
      align-items: center;
      justify-content: space-between;
      padding: 0 50px;
      p {
        margin: 0;
        letter-spacing: 1px;
      }
      .deck {
        position: relative;
        .card1 {
          position: relative;
          top: 0;
          left: 0;
        }
        .card2 {
          position: absolute;
          top: -2px;
          left: -3px;
        }
        .card3 {
          position: absolute;
          top: -4px;
          left: -6px;
        }
      }
    }
    .player-side {
      border-top: 2px green solid;
    }
  }
  .game-buttons {
    display:flex;
    margin: 20px;
    justify-content: center;
    flex-wrap: wrap;

    input {
      margin: 15px;
      width: 25%;
      min-width: 180px;
      
    }
  }
}

.name-input {
  align-items: center;
  width: 300px;
  input {
    margin: 20px;
  }
  .name-link-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    button {
      width: 140px;
    }
  }
}

.rules {
  font-size: 2rem;
  align-items: center;
  button {
    width: 140px;
  }
}

.high-scores {
  font-size: 2rem;
  align-items: center;
  button {
    width: 140px;
  }
}
