body, button, input {
  margin: 0;
  font-family: 'Bebas Neue', cursive;
}

button, input {
  background-color: black;
  color: white;
  border: 0.1vw white solid;
  border-radius: 0.5vw;
  font-size: 1.5vw;
  padding: 1vw;
  text-align: center;
}

input:hover, button:hover {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: black;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-size: 3vw;
  letter-spacing: 0.1vw;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 2vw;
  letter-spacing: 0.1vw;
  text-align: center;
  margin: 0;
}

p, label {
  font-size: 1.2vw;
  letter-spacing: 0.05vw;
  text-align: center;
  margin: 0;
}

.menu, .game, .name-input, .high-scores, .rules, .credits, .saves, .game-table, .neutral,
.bet-selection, .bet-balance-information, .custom-bet, .dealer-side, .player-side,
.popup, .round-history, .round-history-list, .round-history-list-item, .high-score-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  height: 5vw;
  margin: 0 0.1vw;
  background-color: black;
}

.card img {
  height: 100%;
}

.reversed {
  border: 0.1vw solid white;
  border-radius: 0.2vw;
  width: 3.5vw;
}

.menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .menu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.1vw;
  color: #FFFFFF;
  background: #000000;
  text-shadow: 0 0 0.3vw #FFF, 0 0 0.3vw #FFF, 0 0 0.3vw #FFF, 0 0 0.5vw #49ff18,  0 0 0.7vw #49FF18, 0 0 0.7vw #49FF18, 0 0 1.5vw #49FF18, 0 0 1.8vw #49ff18;
  font-size: 8vw;
}

.menu a {
  width: 50%;
}

.menu .menu-item {
  width: 100%;
  background: none;
  font-size: 1.8vw;
  margin: 0.4vw;
  padding: 1.5rem;
  color: white;
  height: 5vw;
}

.menu .menu-item:hover {
  background-color: white;
  color: black;
}

.menu .reset-game {
  position: fixed;
  bottom: 10%;
  right: 5%;
  color: red;
  border-color: red;
}

.menu .reset-game:hover {
  color: black;
  background-color: red;
}

.bet-selection {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 1vw 2vw;
  background-color: black;
  border: 2px white solid;
  border-radius: 10px;
  font-size: 30px;
}

.bet-selection .bet-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bet-selection .bet-buttons input {
  width: 22%;
  margin: 2%;
  border: white solid 0.1vw;
  border-radius: 10vw;
  font-size: 1.5vw;
  background-color: black;
  color: white;
  padding: 0.8vw 0.4vw;
  text-align: center;
}

.bet-selection .bet-buttons input:hover {
  background-color: white;
  color: black;
}

.bet-selection .custom-bet {
  margin: 0.5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bet-selection .custom-bet input {
  width: 100%;
}

.bet-selection .bet-balance-information {
  padding: 0.5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bet-selection .bet-balance-information p {
  margin: 0;
}

.bet-selection .bet-link-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bet-selection .bet-link-buttons button {
  min-width: 3vw;
  margin: 0.5vw;
}

.game {
  width: 100vw;
  height: 100vh;
  font-size: 2vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game .game-table {
  height: 80vh;
  width: 70vw;
  border: 0.1vw solid white;
  border-radius: 1vw;
}

.game .game-table hr {
  width: 80%;
  height: 0.1vw;
  background-color: white;
}

.game .game-table .dealer-side, .game .game-table .player-side {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 30%;
  padding: 0.5vw;
}

.game .game-table .dealer-side .name-points, .game .game-table .player-side .name-points {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: 5%;
  font-size: 3vw;
  text-align: center;
}

.game .game-table .dealer-side .hand, .game .game-table .player-side .hand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.game .game-table .neutral {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2vw;
}

.game .game-table .neutral .deck {
  position: relative;
}

.game .game-table .neutral .deck .card1 {
  position: relative;
  top: 0;
  left: 0;
}

.game .game-table .neutral .deck .card2 {
  position: absolute;
  top: -0.1vw;
  left: -0.15vw;
}

.game .game-table .neutral .deck .card3 {
  position: absolute;
  top: -0.2vw;
  left: -0.3vw;
}

.game .game-table .neutral .table-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game .game-table .neutral .table-buttons a {
  margin: 0 0.3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6vw;
}

.game .game-table .neutral .table-buttons a button {
  width: 7vw;
  height: 100%;
}

.game .hit-stand-double-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 3vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.game .hit-stand-double-buttons input {
  margin: 1vw;
  width: 25%;
  min-width: 10vw;
}

.game .popup {
  padding: 0 2vw;
  position: absolute;
  border: 0.1vw white solid;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-width: 20vw;
  min-height: 13vw;
  background-color: black;
  font-size: 3vw;
}

.game .popup button {
  margin: 1vw;
}

.name-input {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20vw;
}

.name-input input {
  margin: 2vw;
  border: white solid 1px;
  text-align: start;
}

.name-input .name-link-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.name-input .name-link-buttons button {
  width: 10vw;
  margin: 0 1vw;
}

.rules, .credits, .saves, .high-scores {
  font-size: 1.5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rules button, .credits button, .saves button, .high-scores button {
  width: 10vw;
}

.high-scores {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.high-scores .high-score-list {
  margin: 2vw;
  width: 60vw;
  font-size: 2vw;
}

.high-scores .high-score-list .high-score-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding: 1vw;
  background-color: black;
  font-size: 1vw;
}

.round-history {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5vw;
}

.round-history .round-history-list {
  margin: 20px;
}

.round-history .round-history-list .round-history-list-item {
  border: white solid 0.1vw;
  border-radius: 0.5vw;
  min-width: 15vw;
  padding: 1vw 3vw;
  margin: 1vw 0;
  text-align: center;
}

.round-history .round-history-list .round-history-list-item div {
  margin: 5px 0;
}

.round-history .round-history-list .round-history-list-item .hand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.saves .saves-list {
  margin: 1vw;
}

.saves .saves-list .save {
  border: white solid 0.1vw;
  border-radius: 0.5vw;
  margin: 0.5vw;
  padding: 1vw;
  min-width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.saves .saves-list .save div {
  margin: 0 0.2vw;
}

.saves .saves-list .save .save-id {
  font-size: 300%;
}

.saves .saves-list .save .save-text {
  text-align: center;
}

.saves .saves-list .save .save-text .save-username {
  font-size: 200%;
}

@media screen and (max-width: 1150px) {
  .game {
    font-size: 2.5vw;
  }
  .game .game-table {
    width: 100vw;
    border-radius: unset;
  }
  .game .game-table .table-buttons a {
    margin: 0 2px;
    width: 10vw;
  }
  .game .game-table .table-buttons a button {
    padding: 0;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 800px) {
  .menu .menu-title {
    font-size: 20vw;
  }
  .menu .menu-item {
    font-size: 6vw;
  }
  .menu .reset-game {
    font-size: 3vw;
  }
}
/*# sourceMappingURL=index.css.map */